<section class="flex flex-col gap-3 w-full border-b border-slate-400/20 pb-4">
  <picture class="flex w-full justify-between items-center">
    <a href="/" class="flex w-full items-center gap-2">
      <img src="/svg/logoDark.svg" alt="Logo" class="w-14" />
      <h1
        class="text-4xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-blueClaro from-0% to-black to-80%"
      >
        RoSa
      </h1>
    </a>
    <button
      class="w-12 p-1 hover:bg-slate-200 rounded-lg transition-colors duration-400"
      id="toggleAside"
    >
      <img src="/svg/buttonAside.svg" alt="" />
    </button>
  </picture>
  <a
    href=""
    class="flex flex-row w-full gap-2 py-3 px-4 hover:bg-slate-200 rounded-xl items-center transition-all duration-400"
  >
    <img class="w-5 h-5" src="/svg/comentario-alt.svg" alt="" />
    Chats
  </a>
  <a
    href=""
    class="flex flex-row w-full gap-2 py-3 px-4 hover:bg-slate-200 rounded-xl items-center transition-all duration-400"
  >
    <img class="w-5 h-5" src="/svg/restaurante.svg" alt="" />
    Menu
  </a>
</section>
<section class="flex flex-col w-full text-sm truncate">
  <p class="text-gray-400 font-semibold">HISTORIAL DE CHATS</p>
  <ul
    class="flex flex-col w-full overflow-y-scroll overflow-x-hidden no-scrollbar"
    id="historyChats"
  ></ul>
</section>
<section
  class="flex flex-col gap-4 w-full justify-end absolute bottom-0 p-8 bg-gradient-to-t from-slate-100 from-80% to-transparent to-90%"
>
  <a
    href=""
    class="flex flex-row w-full gap-2 bg-slate-200 shadow-sm rounded-3xl justify-center items-center p-3"
  >
    <img class="w-8 h-8" src="/svg/agregar.svg" alt="" />
    Nuevo chat
  </a>
  <a
    href=""
    class="grid grid-cols-[13%_1fr_auto] w-full gap-4 bg-slate-200 shadow-sm rounded-3xl justify-center items-center p-3 font-semibold text-xl"
  >
    <img
      src="https://www.clarin.com/img/2023/12/01/rhVeUAooY_2000x1500__1.jpg"
      alt=""
      class="w-full h-10 object-cover rounded-2xl"
    />
    RoSa Chatbot
    <img class="w-6 h-6" src="/svg/ajustes.svg" alt="" />
  </a>
</section>
