<section class="flex flex-col gap-3 w-full border-b border-slate-400/20 pb-4">
  <picture class="flex w-full justify-between items-center">
    <a href="/dashboard" class="flex w-full items-center gap-2">
      <img src="/svg/logoDark.svg" alt="Logo" class="w-14" />
      <h1
        class="text-4xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-blueClaro from-0% to-black to-80%"
      >
        RoSa
      </h1>
    </a>
    <button
      class="w-12 p-1 hover:bg-slate-200 rounded-lg transition-colors duration-400"
      id="toggleAside"
    >
      <img src="/svg/buttonAside.svg" alt="" />
    </button>
  </picture>
</section>
